.header {
  position: relative;
}

.header ul li.login {
  color: #9f9f9f;
}

.header ul li.login::after {
  width: 0;
}

.header ul li.sign_up {
  color: #000;
  padding-bottom: 12px;
  position: relative;
}

.header ul li.sign_up::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  left: 0;
  bottom: 117px;
}

.header .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: #fff;
  font-size: 30px;
}

/* greeting */
.greeting {
  margin-bottom: 60px;
}

.greeting h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.greeting h2 span {
  font-weight: 700;
}

.greeting p {
  font-size: 14px;
}
